@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 63%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger { display: none; }
header { padding: 4px 0; }

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 { width: 17.3%; }
nav { margin-right: 9.5%; }

nav a {
  padding: 20px 0;
  margin-left: 39px;
  color: #2d3538;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling start */
.banner { margin-bottom: 17px; }
.banner .wrapper { width: 100%; }
/* banner section styling end */

/* about us section styling start */
.about-us .wrapper {
  padding-bottom: 18px;
  position: relative;
}

.about-company {
  width: 32%;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 4%);
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 4%);
}

h2 {
  padding: 17px 0;
  margin-left: 18%;
  font-size: 17px;
  text-transform: capitalize;
}

h2::after {
  content: '\f063';
  padding-left: 25.4%;
  color: #5a6bb9;
  font-family: FontAwesome;
  font-size: 11px;

}

.feature-container li {
  padding: 29px 0 29px 20%;
  border-top: 1px solid #ccc;
  display: block;
}

.feature {
  color: #2d3538;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.feature::before {
  content: '\f111';
  padding-right: 10px;
  color: #ccc;
  font-family: FontAwesome;
  font-size: 7px;
}

.feature-content { display: none; }

.feature-content figure {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}

.feature-content:last-child {
  display: -webkit-box; display: -ms-flexbox;
  display: flex;
}

.active::before { color: #f9dd04; }

.feature-content div {
  margin-left: 3.3%;
  -ms-flex-preferred-size: 34%;
  flex-basis: 34%;
}

h3 {
  margin: 40px 0 19px;
  font-weight: 600;
  text-transform: capitalize;
}

.feature-content p {
  margin-bottom: 20px;
  font-size: 12px;
  color: #a8a8a8;
}

.feature-content a {
  color: #5062B5;
  font-size: 13px;
  text-transform: capitalize;
}
/* about us section styling end */

/* quality service section styling start */
.quality-service {
  margin-bottom: 70px;
  background-image: url('../images/bg-cta.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.quality-service .wrapper {
  width: 100%;
  padding: 68px 0;
  background-color: rgba(0,0,0,.7);
}

.quality-information {
  width: 34%;
  margin-left: 18.5%;
  display: inline-block;
  vertical-align: middle;
}

.quality-service p {
  margin-bottom: 9px;
  color: #f9dd04;
  font-size: 25px;
  text-transform: uppercase;
}

.quality-service span {
  color: #ccc;
  font-size: 13px;
}

.quality-service a {
  padding: 25px 58px;
  margin-left: 14%;
  background-color: #f9dd04;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* quality service section styling end */

/* our team section styling start */
.our-team { margin-bottom: 95px; }

.team-info {
  width: 22%;
  margin-right: 2.5%;
  display: inline-block;
  vertical-align: bottom;
}

h4,
.team-info span {
  text-transform: uppercase;
}

h4 {
  margin-bottom: 17px;
  font-size: 32px;
}

.team-info span {
  margin-bottom: 24px;
  display: block;
  color: #273aa3;
  font-size: 12px;
}

.team-info p {
  margin-bottom: 25px;
  color: #a8a8a8;
  font-size: 11px;
  line-height: 1.5;
}

.reach-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reach-us a { text-indent: -9999px; }

.reach-us a::after {
  float: left;
  color: #2d3538;
  font-family: FontAwesome;
  text-indent: 0;
  border: 1px solid #2d3538;
  padding: 14px 17px;
}

.mail-us::after { content: '\f003'; }
.previous::after { content: '\f060'; }
.next::after { content: '\f061'; }

.team-members {
  width: 74%;
  margin-left: .95%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  vertical-align: top;
}

.team-members li {
  -ms-flex-preferred-size: 31.2%;
  flex-basis: 31.2%;
}

.team-members figure { margin-bottom: 15px; }

h5 {
  margin-bottom: 3px;
  color: #2d3538;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.team-members p {
  color: #a8a8a8;
  font-size: 11px;
  text-transform: capitalize;
}

.remove-scroll { overflow: hidden; }

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.4);
  overflow: hidden;
  cursor: pointer;
}

.modal-container {
  width: 30%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  background-color: #fff;
  cursor: initial;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show-modal { display: block; }

.close {
  display: block;
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
  cursor: pointer;
}
/* our team section styling end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
/* footer top section styling start */
.footer-top { background-color: #15181d; }
.footer-top .wrapper { width: 100%; }
.footer-top a { color: #fff; }

.about-center,
.get-in-touch,
.footer-top figure {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #2d3034;
}

.about-center {
  width: 21%;
  padding-left: 18.5%;
}

h6 {
  padding: 37px 0 18px;
  border-bottom: 1px solid #2d3034;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.quick-links {
  width: 67%;
  margin: 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quick-links li {
  margin-bottom: 5px;
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
}

.quick-links a {
  font-size: 12px;
  text-transform: capitalize;
}

.social-links { padding: 9px 0 56px; }
.social-links a { text-indent: -9999px; }
.social-links li { margin-right: 1.3%; }

.social-links a::after {
  padding: 9px;
  float: right;
  background-color: #2d3034;
  font-family: FontAwesome;
  font-size: 13px;
  text-indent: 0;
}

.facebook::after { content: '\f082'; }
.twitter::after { content: '\f099'; }
.instagram::after { content: '\f16d'; }

.social-links .google::after {
  content: '\f0d5';
  padding: 8px 5px;
}

.get-in-touch {
  width: 20.8%;
  margin-left: -4px;
}

.get-in-touch h6 { padding-left: 21%; }

.get-in-touch ul {
  width: 60%;
  margin: 0 auto;
}

.phone-no,
.email-id {
  margin-top: 28px;
}

.phone-no { font-size: 14px; }

.email-id::before,
.phone-no::before {
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  font-family: FontAwesome;
  background-color: #2d3034;
}

.email-id { font-size: 12px; }
.phone-no::before { content: '\f095'; }
.email-id::before { content: '\f0e0'; }

.quote {
  padding: 16px 24px;
  margin: 36px 0 39px 20%;
  background-color: #273aa3;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-top figure {
  width: 37.8%;
  padding: 18px 0 18px 1.2%;
  border: 0;
}
/* footer top section styling end */

/* footer bottom section styling start */
.footer-bottom {
  padding: 26px 0;
  background-color: #111418;
  text-align: center;
}

.footer-bottom .wrapper {
  width: 100%;
  position: relative;
}

.footer-bottom span {
  color: #2d3034;
  font-size: 12px;
}

.toggle-top { text-indent: -9999px; }

.toggle-top::after {
  content: '\f062';
  padding: 14px;
  border-radius: 50%;
  position: fixed;
  right: 2.2%;
  bottom: 0;
  float: right;
  background-color: #f9dd04;
  color: #111418;
  font-family: FontAwesome;
  text-indent: 0;
  -webkit-transform: translate(-2.2%);
  -ms-transform: translate(-2.2%);
  transform: translate(-2.2%);
}

.hide { opacity: 0; }
/* footer bottom section styling end */
/*=================================
footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
  .feature:hover::before,
  .feature-content a:hover,
  .quick-links a:hover,
  .email-id:hover,
  .phone-no:hover,
  .quality-service a:hover,
  .toggle-top:hover::after,
  .reach-us a:hover::after,
  .social-links a:hover::after,
  .quote:hover {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  .active-menu,
  nav a:hover {
    border-bottom: 4px solid #f9dd04;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
  }

  .feature:hover::before,
  .feature-content a:hover,
  .quick-links a:hover,
  .email-id:hover,
  .phone-no:hover {
    color: #f9dd04;
  }

  .quality-service a:hover {
    background-color: #fff;
    color: #f9dd04;
  }

  .toggle-top:hover::after {
    background-color: #2d3034;
    color: #fff;
  }

  .reach-us a:hover::after {
    background-color: #2d3034;
    color: #fff;
  }
  
  .social-links a:hover::after {
    background-color: #fff;
    color: #2d3034;
  }

  .quote:hover {
    background-color: #fff;
    color: #5a6bb9;
  }
}

/*media query for 1128px starts here*/
@media only screen and (max-width: 1128px) {
  .wrapper { width: 85%; }
  .footer-top figure { width: 36%; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 89%; }

  /* hamburger added */
  .hamburger { display: block; }

  nav {
    width: 45px;
    height: 45px;
    margin-right: 0;
  }

  .hamburger span {
    width: 70%;
    height: 2px;
    border-radius: 20px;
    margin: 7px 0;
    display: block;
    background-color: #000;
    text-indent: -9999px;
  }

  nav ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 3;
  }

  nav li {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.8);
    text-align: center;
  }

  nav a {
    padding: 16px 0;
    margin: 0;
    color: #fff;
    text-transform: capitalize;
  }

  .block {
    display: block;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .hamburger .ham1 {
    margin-bottom: 0;
    -webkit-transform: translateY(12px) rotate(-45deg); 
    -ms-transform: translateY(12px) rotate(-45deg); 
    transform: translateY(12px) rotate(-45deg);
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  .hamburger .ham3 { 
    margin-bottom: 0;
    -webkit-transform: translateY(-6px) rotate(45deg); 
    -ms-transform: translateY(-6px) rotate(45deg); 
    transform: translateY(-6px) rotate(45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  .ham2 { 
    -webkit-transform: scale(0);
    -ms-transform: scale(0); 
    transform: scale(0);
  }

  nav a:hover { border-bottom: 0; }
  /* hamburger styling end */

  p { font-size: 17px; }

  header .wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  h1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .about-company {
    width: 100%;
    position: static;
  }

  h2 {
    margin-left: 0;
    text-align: center;
  }

  h2::after { display: none; }

  .feature-container li {
    padding: 30px 4%;
    border-top: 1px solid #f9dd04;
    display: inline-block;
  }
  
  .feature-content:last-child {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }

  .feature-content figure { margin: 0 auto; }

  .feature-content div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .quality-information {
    width: 62%;
    display: block;
  }
  
  .quality-service a {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
  
  .quality-service span {
    margin: 30px 0;
    display: block;
  }

  .team-info {
    width: 100%;
    text-align: center;
  }
  
  .reach-us {
    width: 25%;
    margin: 0 auto 30px;
  }

  .team-members { width: 100%; }

  .team-members li {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }

  .team-members li:last-child { display: none; }
  
  .modal-container {
    left: 40%;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }

  .about-center,
  .get-in-touch {
    width: 33%;
    border: 0;
  }

  .get-in-touch h6 {
    padding-left: 0;
    text-align: center;
  }

  .quick-links { text-align: center; }

  .quick-links li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .social-links li { margin-right: 6%; }

  .footer-top figure {
    width: 72%;
    border: 0;
    margin: 0 auto;
    display: block;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  h1 { width: 30%; }
  .feature-container li { display: none; }
  
  .feature-container li:first-child {
    display: block;
    text-align: center;
  }

  .quality-service a { padding: 25px 20px; }
  .quality-service p { text-align: center; }
  .reach-us { width: 80%; }
  .about-center, .get-in-touch { width: 100%; }

  .quote {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);  
  }

  .about-center, .get-in-touch {
    width: 100%;
    padding-left: 0;
  }

  h6 { text-align: center; }
  .quick-links { width: 100%; }
  
  .social-links {
    display: flex;
    justify-content: space-around;
  }

  .social-links li { margin: 0; }
}